/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-b from-[#0f1b2b] to-[#1a2632] text-white; /* Tailwind gradient */
  }
  
  .star {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    animation: twinkle 1.5s infinite alternate;
  }
  
  @keyframes twinkle {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  